body{
    margin: 0;
    padding: 0;
    background-color: black;    
}

.list-title{
    font-family: Pixel;
    text-align: center;
    margin-top: 20px;
    color: azure;
    background-size: cover;

}

@font-face {
    font-family: Pixel;
    src: url(../fonts/Cubic_11_1.013_R.woff);
} 

.TW-father{
    zoom: 0.3;
    animation: moveTW 6s linear infinite;
    animation-delay: 1s;
}

@keyframes moveTW {
    0% {
        transform: translateX(0px); 
    }
    20% {
        transform: translateX(-100px);
    }
    40% {
        transform: translateX(-100px)scaleX(-1);
    }
    60%{
        transform: translateX(-50px)scaleX(-1);
    }
    100%{
        transform: translateX(180px)scaleX(-1);
    }

}
.submit{
    margin-left: 15px;
    font-family: Pixel;
    border-radius: 15px;
    cursor: pointer;
}

.delete{
    margin-left: 15px;
    margin-bottom: 15px;
    font-family: Pixel;
    border-radius: 15px;
    background-color: aliceblue;
    border: 2px solid #000000;
    text-decoration: none; 
    color: #000000; 
    padding: 5px 10px;
}

.back-home{
    font-family: Pixel;
    border-radius: 15px;
    background-color: aliceblue;
    border: 2px solid #000000;
    text-decoration: none; 
    color: #000000; 
    padding: 5px 10px;
}